html{
    background-color:burlywood;
    
}
    
body{
    font-size; 16px;
    
}
.container{ 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    text-align: center;
    font-family:cursive;
    font-weight: bold;
}
h3{
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    color: maroon;
}
.main-area{
    
}
.content-area{
    
}
h4{
    text-align: center;
    font-weight: bold;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    
}
.col{
    background-color: beige;
    border: 2px solid grey;
    padding: 0 10px;
    border-radius: 5px;
}
    
.row2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    
}

#hat{
    float: left;
    max-width: 40%;
    margin-right: 10px;
    border: 1px solid black;  
    border-radius: 5px;
    opacity: 0.03;
}
#hat:hover{
    opacity: 1.0;
    transition: opacity 1s ease-in;
  
}
#hover{
    font-family: cursive;
    font-weight: bold;
}

#center{
    text-align: center;
}
#tolk{
    background-color: lightsteelblue;
    margin-top: 10px;
    padding: 40px 40px;
    border-radius: 5px;
    font-size: 125%;
    font-family: cursive;
    font-weight: bold;
}
.recipe{
    font-size: 85%;
    font-weight: bold;
}

#center1{
    text-align: center;
    color: maroon;
}

.ul{
 
}
.row3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;  
}
.nancy1{
    line-height: 95%;
}

.tip{
    background-color:darkkhaki;
    font-family:monospace;
    font-size: 125%;
    padding: 10px;
    margin-bottom: 26px;
    border-radius: 10px;
    font-weight: bold;
}
.row4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;    
}
.nancy2{
    
}
.row5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;       
}

#shaw{
    float: right;
    background-color: lightsteelblue;
    padding: 10px 20px 10px 20px;
    border-radius:5px;
    font-family: cursive;
    font-weight: bold;
}
.nancy3{
    
}
.row6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;       
}
    
.dumas1{
    
}
.dumas2{
    
}
.row7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;          
}
    
p{
    text-indent: 10px;
    
}