html{
    background-color:burlywood;
    
}
    
body{
    font-size; 16px;
    
}
.container{ 
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    text-align: center;
    font-family:cursive;
    font-weight: bold;
}
h3{
    text-align: center;
    font-family:cursive;
    font-weight: bold;
    color: maroon;
}
.main-area{
    
}
.content-area{
    
}

h4{
    text-align: center;
    font-weight: bold;
}
.row{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1px;
    
}
.col{
    background-color: beige;
    border: 2px solid grey;
    padding: 0 10px;
    border-radius: 5px;
}
@media screen and (max-width: 800px){
    .row,
    .col{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width: 480px){
    .row{
        font-size: smaller;
    }
    #pieface{
        scale: 90%;
    }
    #jd{
        scale: 90%;
    }
    
}
    
/*reveal and hide*/
.toggle-btn{
    display: none;
}
.toggle-btn-visible{
    display: block;
}
.toggle-target-hidden{
    display: none;
}
.toggle-target-expanded{
    display: block;
}
#hat{
    float: left;
    max-width: 40%;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.popPic{
    text-decoration: underline;
    color: blue;
}
.popPic:hover{
    text-decoration: none;
}
#center{
    text-align: center;
}
#tolk{
    background-color: lightsteelblue;
    margin-top: 10px;
    padding: 40px 40px;
    border-radius: 5px;
    font-size: 125%;
    font-family: cursive;
    font-weight: bold;
}
button1{
    
}
#volt{
     background-color: lightsteelblue;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 120%;
    font-family: cursive;
    font-weight: bold;
}
.chicprov{
    font-size: 95%;
    font-weight: bold;
    
}
.cakes{
    font-size: 88%;
    font-weight: bold;
}

#center1{
    text-align: center;
    color: maroon;
}

.ul{
 
}

.nancy1{
    line-height: 95%;
}
.shervin{
    font-weight: bold;
    font-size: 95%
}

.tip{
    background-color:lightblue;
    font-family:monospace;
    font-size: 125%;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.nancy2{
    
}

#shaw{
    float: right;
    background-color: lightsteelblue;
    padding: 10px 20px 10px 20px;
    border-radius:5px;
    font-family: cursive;
    font-weight: bold;
}
.nancy3{
    
}
#nan{
    float: right;
    border-radius: 5px;
    width: 40%;
    margin-left: 5px;
}
    
.dumas1{
    
}
.dumas2{
    
}
.chef ed{
    
}
.chef ed2{
    
}
.vegroast{
    font-weight: bold;
    font-size: 95%;
    
    
}
#ant{
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
}
.celeb chef1{
    
}
.celeb chef2{
    
}
.celeb chef3{
    
}
.smokey{
    font-weight: bold;
    font-size: 95%;   
}
.celeb chef4{
    
}
#report{
    font-family: cursive;
}
a{
    text-decoration: none;
    color: darkolivegreen;
    background-color: khaki;
    font-family: cursive;
    font-size: 70%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 5px;
    
}
a:hover{
    background-color: lightblue;
}
#img1{
    
    
}

#jd{
    width: 49.4%;
    border-radius: 5px;
}
#wild{
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 115%;
    font-family: cursive;
    font-weight: bold;
    
}
#clown{
    max-width: 40%;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
   
    opacity: 0.02;
}
#clown:hover{
    opacity: 1.0;
    transition: opacity 1s ease-in;

}
.citveg{
    font-weight: bold;
    font-size: 95%
}
.pablo{
    background-color: lightsteelblue;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 120%;
    font-family: cursive;
    font-weight: bold;
   
    
}
.beetspud{
    font-weight: bold;
    font-size: 95%;
    
}
#irish{
    background-color: lightsteelblue;
    font-size: 110%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
   
    
}
.bj1{

}
.bj2{

}
#jaques{
    background-color: lightsteelblue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 115%;
    font-family: cursive;
    font-weight: bold;
}
#pieface{
    filter: grayscale(70%);
}

    
    
p{
    text-indent: 10px;
    
}